<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat app</title>
    <link rel="icon" href="./img/favicon.png">
    <link rel="stylesheet" href="./css/styles.min.css">
</head>
<body>
    <div class="centered-form">
        <div class="centered-form__box">
            {{!-- <h1>Join</h1> --}}
            <h1>Register</h1>
            {{!-- <form action="/app">
                <label>Display name</label>
                <input type="text" name="username" placeholder="Display name" required>
                <label>Room</label>
                <input type="text" name="room" placeholder="room" required>
                <button>Join</button>
            </form> --}}
            <form action="/app" class="form" method="post">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username" required>
                <label>Email</label>
                <input type="email" name="username" placeholder="Email" required>
                <label>Password</label>
                <input type="password" name="username" placeholder="Password" required minlength="7">
                <button>Register</button>
            </form>
        </div>
    </div>

    <script src="./js/login.js"></script>
</body>
</html>